<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="patternLayout">%highlight{%d{dd.MM.yyyy HH:mm:ss} - %-5level %class{2}.%M:%L - %msg%xEx%n}</Property>
    </Properties>
    <Appenders>
        <!-- Ausgabe in der Console -->
        <Console name="STDOUT" target="SYSTEM_OUT">
            <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${patternLayout}" />
        </Console>

        <!-- Aufzeichnung der INFO - Ausgaben -->
        <RollingFile name="FileInfo" fileName="./logs/info.log" filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <!-- Filters -->
            <Filters>
                <ThresholdFilter level="info"/>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <!-- Layout des Textes -->
            <PatternLayout pattern="${patternLayout}" />
            <!-- Max Groesse des Files -->
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <!-- Maximale Anzahl der Files die gesichert werden -->
            <DefaultRolloverStrategy max="10" />
        </RollingFile>

        <!-- Aufzeichnung der WARN - Ausgaben -->
        <RollingFile name="FileWarn" fileName="./logs/Warn.log" filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <!-- Filters -->
            <Filters>
                <ThresholdFilter level="warn"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL" />
            </Filters>
            <!-- Layout des Textes -->
            <PatternLayout pattern="${patternLayout}" />
            <!-- Max Groesse des Files -->
            <Policies>
                <SizeBasedTriggeringPolicy size="5 MB" />
            </Policies>
            <!-- Maximale Anzahl der Files die gesichert werden -->
            <DefaultRolloverStrategy max="10" />
        </RollingFile>

        <!-- Aufzeichnung der Error - Ausgaben -->
        <RollingFile name="FileError" fileName="./logs/error.log" filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <!-- Filters -->
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <!-- Layout des Textes -->
            <PatternLayout pattern="${patternLayout}" />
            <!-- Max Groesse des Files -->
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <!-- Maximale Anzahl der Files die gesichert werden -->
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="FileInfo" />
            <AppenderRef ref="FileWarn" />
            <AppenderRef ref="FileError" />
        </Root>
    </Loggers>
</Configuration>